<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Greeting with Routes</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="container">
        {{{body}}}
    </div>


</body>
<script>
    const message = document.querySelector('.error');
    
    const grt = document.querySelector('.greet');
    
    if (message.innerText !== "") {
        setTimeout(function () {
            message.innerText = '';
        }, 3000);

    }else if(grt.innerText !== ""){
        setTimeout(function () {
            grt.innerText = '';
        }, 3000);
    }




</script>

</html>