
<div>
    <h2 style="color: orangered">Greet Count for {{user}}:</h2>
    <p style="color: orangered">{{user}} has been greeted {{greeted}} times.</p>
   <a href="/"><button>Back to Homepage</button></a>
</div>


