<div>
    <h2 style="color: #66fcf1;">Greet Count for {{user}}:</h2>
    <br>
    <br>
    <p style="color: #66fcf1;">{{user}} has been greeted {{greeted}} time(s).</p>
    <br>
    <br>

    <a style="text-decoration: none;" href="/greeted" value="back" class="btn btn-primary btn-sm">Back to
        greeted names</a>&nbsp;&nbsp;&nbsp;

    <a style="text-decoration: none;" href="/" value="home" class="btn btn-primary btn-sm">Back to Homepage</a>
</div>