  <div class="user-list">
    <ul>
        {{#each users}}
        <li>
            <p><a href="/counter/{{namesGreeted}}" class="nav-link text-info">{{namesGreeted}}</a></p>
        </li>
        {{/each}}
    </ul>
    <a href="/" class="nav-link text-info">Click here to go back to Greeting Form</a>
</div>