<div class="row">
    <h1>Greeted Names</h1>
    <br>
    <br>
    <table>
        {{#each user}}
        <tr>

            <td>
                <li>
                    <a href="/counter/{{this}}">{{this}}</a>
                </li>
            </td>

        </tr>
        {{/each}}
    </table>
</div>
<br>
<br>
<a style="text-decoration: none;" href="/" value="home" class="btn btn-primary btn-sm">Back to Homepage</a>