<div class="row">
    <h1>Greeted Names</h1>
    <table>
        {{#each user}}
        <tr>

            <td>
                <li>
                    <a href="/counter/{{this}}">{{this}}</a>
                </li>
            </td>

        </tr>
        {{/each}}
    </table>
</div>
<a href="/"><button>Back to Greetings</button></a>