<div class="row">
    <h1>Greeted Names</h1>
    <table>
        {{#each user}}
        <tr>

            <td>
                <li>
                    <a href="/counter/{{names}}">{{names}}</a>
                </li>
            </td>

        </tr>
        {{/each}}
    </table>
</div>
<a href="/" class="nav-link text-info">Click here to go back to Greeting Form</a>