<div class="container">

    <section class="Top">
        <div class="heading">
            <h1>Greetings</h1>
        </div>
    </section>


    <section class="middle">
        <div class="functionality">

            <h5>
                Number of Greetings:
                <span  class="count">{{count}}</span>
            </h5>

            <form action="/Greetings" method="POST">

                <div class="Error">
                    <p class="message">{{greeted}}</p>
                </div>

                <label for="nameInput" style="color: #45a29e;">Name:</label>
                <input id="nameInput" type="text" name="nameInput" class="textBox" placeholder="Enter your name">

                <div class="row">
                    <div class="col-sm-4">
                        <input type="radio" name="Language" value="Eng" id="English">
                        <label for="English">English</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="radio" name="Language" value="Esp" id="Spanish">
                        <label for="Spanish">Spanish</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="radio" name="Language" value="Ven" id="TshiVenda">
                        <label for="TshiVenda">TshiVenda</label>
                    </div>
                </div>

                <button type="submit" value="Greet Me" class="btn btn-primary btn-sm greetings">Greet</button>
                <button type="submit" value="Clear" class="btn btn-primary btn-sm clearing">Clear</button>
            </form>
        </div>


    </section>


</div>

 <p><a href="/greeted" class="nav-link text-info">Click here to see greeted users</a></p>