<div class="container">

    <section class="Top">
        <div class="heading">
            <h1>Greeting App</h1>
        </div>
    </section>


    <section class="middle">
        <div class="functionality">

            <h5 style="color: #66fcf1;" class="counter">
                Number of Greetings:
                <span class="count" style="color: #66fcf1;">{{count}}</span><br>
                <br>
                <a style="text-decoration: none;" href="/greeted" value="Clear"
                    class="btn btn-primary btn-sm">Greeted Names</a>
            </h5>
            <br>

            <form action="/Greetings" method="POST">

                <div class="greet">
                    <p class="message">{{greeted}}</p>
                </div>

                <div class="error">
                    {{#if messages.info}}
                    <p class="message">{{messages.info}}</p>
                    {{/if}}

                </div>
                <br>

                <div>
                    <label for="nameInput" style="color: #66fcf1;">Name:</label>
                    <input id="nameInput" type="text" name="nameInput" class="textBox" placeholder="Enter your name">
                </div>
                <br>


                <label>
                    <input type="radio" name="Language" value="Eng" id="English">
                    <label for="English" style="color: #66fcf1;">English</label>
                </label>

                <label>
                    <input type="radio" name="Language" value="Esp" id="Spanish">
                    <label for="Spanish" style="color: #66fcf1;">Spanish</label>
                </label>

                <label>
                    <input type="radio" name="Language" value="Ven" id="TshiVenda">
                    <label for="TshiVenda" style="color: #66fcf1;">TshiVenda</label>
                </label>


                <br>
                <div class="d-flex">

                    <button type="submit" value="Greet Me" class="btn btn-primary btn-sm">Greet</button>
                    &nbsp;
                    <a style="text-decoration: none;" href="/clear" value="Clear"
                        class="btn btn-primary btn-sm clearing">Clear</a>
                </div>
            </form>
            <br>



        </div>


    </section>


</div>

<p></p>